# .gitignore
# Ignore all files without extensions
*
!/**/
!*.*

# pixi environments
.pixi
*.egg-info

# Mojo temp files
__mojocache__
kgen*

# MacOS files
.DS_Store

# Local settings
.vscode
.zed
.helix
tempCodeRunnerFile*

# Temporary files
*test.mojo
*test.py
test*.mojo

# Specific files
src/mojo2py
src/apply